{% load static %}

<head>
	<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
	<script type="text/javascript">
    $(function() {
        $('#myform tbody tr').formset();
    })
	</script>
</head>

<body>
	<!--<form id="myform" action='/comentariosformset' method="post" enctype="multipart/form-data">-->
	<!--<form id="myform" action='' method="post" enctype="multipart/form-data">-->
	<form id="myform" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	codigo: {{codigo}}<br><br>
	<table>
		{{ formset }}
	</table>
	<br>
	<input type="submit" value="Guardar">
</form>
</body>
