{% extends "./base.html" %}

{% block content %}

<h2>OT {{ot}}</h2>

<div class="plano">
{# primero la imagen, si es que existe #}
<img id="plano" src="/imagenes/planos/{{ plano.planoid }}.png">
<!-- after deployment this wont work (not even when debug mode is off, accoding to the documentation) -->
</div>

<br>
<form action=''>
	<input type='submit' value="Regenerar plano">
</form>

{# datos del plano (cuando fue creado, que cliente, cuando fue generada #}
{# datos del detalle de plano (cada pieza, por orden, con sus detalles) #}

<!--
<br>
<br>
<br>
<p id="info-plano">creado el {{plano.fecha}}</p>
-->

<br>
<div id="tabla-plano-detalle">
	<table id="planodetalle">
		<tr>
			<th>Cantidad</th>
			<th>Codigo Estandar</th>
			<th>Tipo</th>
			<th>Ancho [mm]</th>
			<th>Alto [mm]</th>
			{% if there_are_comments %}
				<th>Comentarios</th>
			{% endif %}
		</tr>
	{% for pd in plano_detalle %}
		<tr>
			<td>{{pd.cantidad}}</td>
			<td>{{pd.codigo}}</td>
			<td>{{pd.tipo}}</td>
			<td>{{pd.ancho_mm}}</td>
			<td>{{pd.alto_mm}}</td>
			{% if there_are_comments %}
				<td>{{pd.comentario}}</td>
			{% endif %}
		</tr>
	{% endfor %}
	</table>
</div>

{% endblock %}

