{% load static %}

<!--codigo: {{object.codigo}}-->

<h2>{{object.codigo}}</h2>
<h5>Categoria: {{object.categoria}}</h5>

<!--
<br>
imagen: {{object.imagen}}
<br><br>
-->


<!--https://stackoverflow.com/questions/18040941/load-static-file-with-variable-name-in-django-->
<!--<img src="{% static '' %}{{ object.imagen }}">-->

<!-- ok for now this works... but after deployment it wont (not even when debug mode is off, accoding to the documentation-->
<img width="300 px" src="/media/{{ object.imagen }}">

<br><br>
{% if comentarios %}
	<ul>
	{% for c in comentarios %}
	<li>{{c.comentario}}</li>
	{% endfor %}
	</ul>
{% endif %}
