{% extends "./base.html" %}

{% block content %}
<h2>{{object.codigo}}</h2>
<b>Categoria:</b> {{object.categoria}}

<br><br>

<!-- ok for now this works... but after deployment it wont (not even when debug mode is off, accoding to the documentation-->
<img width="300 px" src="/imagenes/{{ object.imagen }}">

<br><br>
{# mostramos los comentarios si existen; si no, mostramos link para agregar comentarios #}
<!--
{% if comentarios %}
	<ul>
	{% for c in comentarios %}
	<li>{{c.comentario}}</li>
	{% endfor %}
	</ul>
{% else %}
	<a href="{% url 'registro:nuevo-codigo-comentarios' %}?codigo={{object.codigo}}">Agregar comentarios</a>
{% endif %}
-->
{% endblock %}

