{% extends 'registro/base.html' %}

{% block content %}

<h3>Planos Estandar</h3>

<div id="texto-instrucciones">
<p>Esta app web sirve para generar planos compuestos por <a target="_blank" href={% url 'registro:catalogo' %}>planos estandar</a>.

<p>Para hacer uso de un plano estandar, este debe haber sido previamente cargado.</p>

<p>Si un codigo estandar todavia no fue cargado, podes agregarlo ingresando a <a href="{% url 'registro:nuevo-codigo' %}">Nuevo Estandar</a> e introduciendo los datos del catalogo:</p>

<ol><li>Se ingresa el codigo estandar y se escoge la categoria.</li><li> Para la imagen, <ol><li>seleccionamos la del catalogo,</li><li> copiamos (seleccionamos la imagen solamente, sin el nombre ni los comentarios) con ctrl+c o usando el menu,</li><li>luego pegamos (con ctrl+v).</li></ol> <li>Por ultimo, click en 'guardar'</li></ol>
<p>y ya tenemos el nuevo plano estandar agregado.</p>

<p>Se pueden agregar tambien los comentarios que figuran en el catalogo, una vez cargado.</p>

<p>Los planos estandar que ya fueron cargados, se pueden acceder mediante el menu, siguiendo el enlace <a href="{% url 'registro:codigosporcategoria' %}">Planos Estandar</a> </p>

<p>Para crear tus propios planos, elegi <a href="{% url 'registro:nuevo-plano' %}">Nuevo Plano</a> en el menu, donde ingresas el OT o Nro. de Venta, seguido de los detalles del mismo. Tras guardar, el plano se genera automaticamente. Por ultimo, para ver la lista de planos que ya generaste, utiliza la opcion <a href="{% url 'registro:listaplanos' %}">Mis planos</a> del menu.</p>


{% endblock %}

