{% extends 'registro/base.html' %}

{% block content %}

<form action='' method="post">
	{% csrf_token %}
	{{ selectfilter.as_p }}
</form>

{#<br>{{selectfilter.GET.filtro}}<br>#}

{# it works! of course this can be improved #}
{% for categoria,codigo in codigos.items %}
	{% if codigo %}
	<h2>{{categoria}}</h2>
	<ul>
		{% for c in codigo %}
		<li><a href="{% url 'registro:codigos-detailview' c %}">{{c}}</a>
			{% if showimages %}
			<br><img src="{{MEDIA_URL}}{{c.imagen}}"/><br>
			{% endif %}
		</li>
		{% endfor %}
	</ul>
	{% endif %}
{% endfor %}

{% endblock %}

