{% load static %}
<script defer type="text/javascript" src="{% static 'js/toggle.js' %}"></script>

<nav>
	<div class="dropdown">
		<button onclick="toggleLeftDropdown()" class="dropbtn">≡ Estandar</button>
		<!--<a href="#home" class="active">Estandar</a>-->
		<div class="dropdown-content" id="leftDropdown">
			{% if user.is_authenticated %}
				<a href="{% url 'registro:nuevo-plano' %}">Generar Nuevo Plano</a>
				<a href="{% url 'registro:nuevo-codigo' %}">Cargar Nuevo Estandar</a>
				<hr>
				<a href="{% url 'registro:listaplanos' %}">Ver Mis Planos</a>
				<a href="{% url 'registro:codigosporcategoria' %}">Ver Códigos Estandar Cargados</a>
				<a target="_blank" href="{% url 'registro:catalogo' %}">Ver Catálogo (externo)</a>
				<hr>
				<a href="{% url 'registro:instrucciones' %}">¿Cómo usar?</a>
			{% else %}
				<a href="{% url 'login' %}">Iniciar Sesión</a>
			{% endif %}
			<a href="/">Menú princial</a>
		</div>
	</div>
		
	{% if user.is_authenticated %}
		<div class="dropdown right">
			<button onclick="toggleRightDropdown()" class="dropbtn">{{request.user}}<!--🙂--></button>
			<div class="dropdown-content" id="rightDropdown">
				<a href="{% url 'password_change' %}">Cambiar contraseña</a>
				<a href="{% url 'logout' %}">Cerrar Sesión</a>
			</div>
		</div>
	{% endif %}
</nav>
