<nav>
	<div>
		<ul>
			<li><a target="_blank" href="{% url 'registro:catalogo' %}">Catalogo</a></li>
				<li id="nav-pe"><a href="{% url 'registro:codigosporcategoria' %}">Planos Estandar</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'registro:nuevo-codigo' %}">Nuevo Estandar</a></li>
					<li><a href="{% url 'registro:nuevo-plano' %}">Nuevo Plano</a></li>
					<li><a href="{% url 'registro:listaplanos' %}">Mis planos</a></li> {# deberia ordenar por fecha y ot #}
				{% endif %}
		</ul>

		<ul>
		{% if user.is_authenticated %}
				<li><a href="{% url 'registro:instrucciones' %}">Ayuda?</a></li>
				<li><a href="{% url 'logout' %}">Salir</a>
				<li><a href="{% url 'password_change' %}">({{user}})</a></li>
		{% else %}
				<li><a href="{% url 'login' %}">Ingresar</a>
		{% endif %}
		</ul>
</nav>

