{% extends './base.html' %}
{% load static %}

{% block content %}
<h3>Cargar detalles del plano</h3>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
	$(function() {
			$('#myform tbody').formset();
	})
</script>

<body>
	<!--<form id="myform" action='/comentariosformset' method="post" enctype="multipart/form-data">-->
	<!--<form id="myform" action='' method="post" enctype="multipart/form-data">-->

	{# aqui quiero mostrar los detalles del plano #}
	<form id="myform" method="post" enctype="multipart/form-data" action="{% url 'registro:listaplanos' %}">
		{% csrf_token %}
		<table>
			{{ formset.as_table }}
		</table>
		<br>
		<input type="submit" value="Guardar">
	</form>
</body>
{% endblock %}

