{% extends "./base.html" %}
{% load static %}

{% block content %}

<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
	$(function() {
			$('#myform tbody').formset();
	})
</script>

<form id="myform" method="post" enctype="multipart/form-data">
	{% csrf_token %}

	{{ ot_form.as_p }}

	<table>
		{{ plano_formset.as_table }}
	</table>
	<br>
	<input type="submit" value="Guardar">
</form>

{% endblock %}

