{% extends "./base.html" %}
{% load static %}

{% block content %}

<script type="text/javascript" src="{% static 'js/jquery-3.6.0.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
	$(function() {
			$('#myform tbody').formset();
	})
</script>

<form id="myform" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	{{ ot_form.as_p }}

	{% if error_message %}
    <div class="error-alert">
        {{ error_message }}
    </div>
	{% endif %}

	{{ plano_formset.management_form }}
		{% for plano_form in plano_formset %}
		<table>
				{{ plano_form.as_table }}
				<!--<tr class="delete-btn-container"></tr>-->
		</table>
		{% endfor %}

	<div class="add-btn-container"></div>

	<br>
	<input type="submit" value="Guardar">
</form>

{% endblock %}

